body {
    background: url(../img/Fon.jpg) no-repeat fixed;
    background-size: cover;
}

.wraper {
    display: flex;
    margin: 100px 17% 20px 17%;
    padding: 20px;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.smal-block1 {
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.stores a,
.genre a {
    margin: 10px;
    font-size: 25px;
    padding: 5px;
    color: black;
}

.smal-block1:hover,
.smal-block2:hover {
    background-color: grey;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

.stores a:hover,
.genre a:hover {
    background-color: black;
    color: white;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

.stores {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.smal-block2 {
    padding: 10px;
    margin: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.genre {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: white;
    border-radius: 20px;
}

.car {
    padding: 6px;
    width: 100%;
    height: 290px;
    border-radius: 20px 20px 0 0;
}

.cont {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid grey;
}

.text {
    padding: 10px;
}

span {
    font-size: 24px;
}