.upper1{
    background-color: #435261;
    font-family: Calibri;
    color: white;
    text-align: left;
    padding: 50px;
}
.heading1{
    font-size: 18px;
}
div > h3 > span{
    color: orangered;
}

.backl1{
    background-color: #293740;
    font-family: Calibri;
    color: white;
}

.butt1{
    background-color: rgb(149,153,158);
    color: white;
}